@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: CustomFont;
        src: url(/fonts/MetalMania-Regular.ttf);
        font-weight: normal;
        font-style: normal;
    } /* ... */
}